@font-face {
  font-family: "Old News";
  src: url("old-news.ttf");
}

body {
  font-family: "Old News";
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
  height: 2em;
  padding-right: 1em;
}

td {
  height: 2em;
  padding-right: 1em;
}

select {
  font-family: "Old News";
}

option {
  font-family: "Old News";
}